127.0.0.1   {{ inventory_hostname }} localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.0.100   hdp0.vagrant.com   hdp0
192.168.0.101   hdp1.vagrant.com   hdp1
192.168.0.102   hdp2.vagrant.com   hdp2
192.168.0.103   hdp3.vagrant.com   hdp3

