127.0.0.1   {{ inventory_hostname }} localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.0.100   cdh00.vagrant.com   cdh00
192.168.0.101   cdh01.vagrant.com   cdh01
192.168.0.102   cdh02.vagrant.com   cdh02
192.168.0.103   cdh03.vagrant.com   cdh03

